body {
  font: 14px "Merriweather", "Georgia", sans-serif;
  margin: 20px;
  color: red;
}

.quote {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #d7d7d7;
    padding: 10px 0;
    outline-style: solid black;
}

.quoteText {
    font-family: "Merriweather", "Georgia", serif;
    font-size: 14px;
    padding: 0px 5px 10px 0px;
    line-height: 21px;
}

.authorOrTitle {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: bold;
    color: #333;
}
